{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neal Cronin | Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav>
        <div class="nav-logo">
            <a href="{% url 'home' %}">Neal Cronin</a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}#projects">Projects</a></li>
            <li><a href="{% url 'about' %}">Me</a></li>
        </ul>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>