{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="about-header">
        <h1>About Me</h1>
    </header>

    <div class="about-container split-layout">
        <div class="about-photo">
            <img src="https://res.cloudinary.com/dmo5atv6g/image/upload/v1767599138/IMG_8958_itluci.jpg" alt="Neal Cronin - Work in Progress">
        </div>

        <div class="about-text">
            <h2>Hi, I'm Neal</h2>
            <p>
                I am a [Your Profession/Student Status] passionate about [Your Interests]. 
                I focus on creating [What you build/do] and I am always looking for new challenges.
            </p>
            <p>
                When I'm not [Work/Study related], you can find me [Hobby 1] or [Hobby 2]. 
                I believe in [Personal Philosophy/Work Ethic].
            </p>
            
            <div class="about-cta">
                <a href="mailto:john.neal.cronin@gmail.com" class="theme-btn">Email</a>
                <a href="https://www.linkedin.com/in/neal-cronin-28671a2b8/" target="_blank" class="theme-btn secondary">LinkedIn</a>
            </div>
        </div>
    </div>
{% endblock %}