{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="about-header">
        <h1>About Me</h1>
    </header>

    <div class="about-container split-layout">
        <div class="about-photo">
            <img src="https://res.cloudinary.com/dmo5atv6g/image/upload/v1767599138/IMG_8958_itluci.jpg" alt="Neal Cronin">
        </div>

        <div class="about-text">
            <h2>Hi, I'm Neal</h2>
            <p>
                I am a Computer Science student at Georgia Institute of Technology passionate about the intersection of robotics, AI, and precision engineering.
                I focus on building autonomous systems and high-fidelity technical models that bridge the gap between complex data and real-world application.
            </p>
            <p>
                When I'm not tinkering, you can find me catching up on the latest shows and movies, playing video games(maybe a particular rhythm game), or spending times with friends and family. 
                I believe that making and creating are the greatest methods of self expression.
            </p>
            
            <div class="about-cta">
                <a href="mailto:NealCronin@gatech.edu" class="theme-btn">Email</a>
                <a href="https://www.linkedin.com/in/neal-cronin-28671a2b8/" target="_blank" class="theme-btn secondary">LinkedIn</a>
            </div>
        </div>
    </div>
{% endblock %}