{% extends 'base.html' %}

{% block content %}
    <header class="home-header">
        <h1>i make things sometimes</h1>
    </header>

    <section id="projects">
        <div class="project-masonry">
            {% for project in projects %}
                <div class="project-card">
                    <div class="card-image-wrapper">
                        <img src="{{ project.image.url }}" alt="{{ project.title }}">

                        <div class="card-overlay">
                            <div class="overlay-content">
                                <h3>{{ project.title }}</h3>
                                <p>{{ project.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p style="text-align: center;">No projects added yet! Go to the <a href="/admin">admin panel</a> to add some.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}