{% extends 'base.html' %}

{% block content %}
<article class="blog-project-container">
    
    <header class="blog-header-split">
        <div class="header-text-side">
            <h1>{{ project.title }}</h1>
            
            <div class="blog-lead">
                {{ project.description }}
            </div>
        </div>

        <div class="header-image-side">
            <img src="{{ project.image.url }}" alt="{{ project.title }}">
        </div>
    </header>

    <div class="blog-text custom-content">
        {% if project.body %}
            {{ project.body|safe }}
        {% endif %}
    </div>

    <footer class="blog-footer">
        <a href="{% url 'home' %}" class="theme-btn">← Back to Portfolio</a>
    </footer>

</article>
{% endblock %}