name: Deploy to PythonAnywhere

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Execute SSH Commands
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ssh.pythonanywhere.com
          username: ${{ secrets.PA_USERNAME }} # Remember: This is Case-Sensitive!
          key: ${{ secrets.PA_SSH_KEY }}       # Using the new SSH Key secret
          script: |
            cd /home/${{ secrets.PA_USERNAME }}/webportfolio
            git fetch origin main
            git reset --hard origin/main
            
            source /home/${{ secrets.PA_USERNAME }}/.virtualenvs/webportfolio/bin/activate
            python manage.py migrate --noinput
            python manage.py collectstatic --noinput --no-post-process
            
            touch /var/www/${{ secrets.PA_DOMAIN }}_wsgi.py